* {
    box-sizing: border-box;
    font-family: 'Arvo';
}

body {
    background-color: lightgray;
}

.root {
    background-color: #E5DDC5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #A79277;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.todo__title {
    text-align: center;
}

.root__todo {
    width: 60%;
    max-width: 600px;
    height: 80%;
}
