.todos {
    position: relative;
    height: 30%;
    margin-bottom: 5%;
}

.todos__main {
    list-style: none;
    padding: 0;
    background-color: #F1EEDC;
    border: 1px solid #A79277;
    border-radius: 5px;
    overflow-y: auto;
    position: relative;
    height: 100%;
    margin: 0;
    z-index: 3;
}

.todos__sub {
    background-color: #E5DDC5;
    border: 1px solid #A79277;
    border-radius: 5px;
    height: 100%;
    position: absolute;
}

.todos__sub:nth-of-type(1) {
    width: 95%;    
    top: 3%;
    left: 3%;
    z-index: 2;
}

.todos__sub:nth-of-type(2) {
    width: 90%;    
    top: 6%;
    left: 6%;
    z-index: 1;
}
